






.button{
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    border: 2px solid #6CB840;
    padding: 13px 20px;
    margin-top: 2px ;
    margin-bottom: 80px;
    margin-left: 65px;
    font-weight: 900;
    border-radius: 200px;
}
.eat-together{
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.img{
    width: 50%;
}
.eat-together > div{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 0px;
    padding: 2px;
}
 .title{
    text-align: center;
    margin-bottom: 100px;
}
.explore-menu{
    background-color: lightgray;
}
.explore-menu .row{
    display: flex;
    flex-direction: row;
    margin: 60px;
    justify-content: space-evenly;
}
.explore-menu .row .burger-name{
    width: 20%;
    padding: 10px 20px;
    background-color: white;
    position: relative;
    border-radius: 0 0 50px 0;
}
.burger-name p{
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    text-align: center;
    float: right;
}
.hot-deals .{

}
.contact-us{
    background-color: #FFF5DD;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
}

input[type = email]{
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
}
::placeholder{
    color: black;

}
.send{
    background-color: #6BB946;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 900;
}
 
.footer{
    display: flex;
    background-color: #F0FAEC;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;

}



}
.open-hours{
    width: 300px;
    border-right: 2px dotted #6BB946;
}
.locate-us{
    width: 400px;
    padding: 20px;
}
.FOLLOW{
    display: flex;
}
.socials{
    padding-top: 50px;
}
.socials p{
    color: #1F201E;
}