






.button{
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    border: 2px solid #6CB840;
    padding: 13px 20px;
    margin-top: 2px ;
    margin-bottom: 80px;
    margin-left: 65px;
    font-weight: 900;
    border-radius: 200px;
}
.eat-together{
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.img{
    width: 60%;
}
.eat-together > div{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 0px;
    padding: 2px;
}
.eat-text{
    text-align: center;
    margin-bottom: 100px;
}
.explore-menu{
    background-color: lightgray;
}
.explore-menu .row{
    display: flex;
    flex-direction: row;
    margin: 60px;
    justify-content: space-evenly;
}
.explore-menu .row .burger-name{
    width: 20%;
    padding: 10px 20px;
    background-color: white;
    position: relative;
    border-radius: 0 0 50px 0;
}
.burger-name p{
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    text-align: center;
    float: right;
}
.hot-deals .{

}